@font-face {
    font-family: "Montserrat-Black";
    src: url("../Fonts/Montserrat-Black.ttf")
}
@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("../Fonts/Montserrat-BlackItalic.ttf")
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../Fonts/Montserrat-Bold.ttf")
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("../Fonts/Montserrat-BoldItalic.ttf")
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../Fonts/Montserrat-ExtraBold.ttf")
}
@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url("../Fonts/Montserrat-ExtraBoldItalic.ttf")
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../Fonts/Montserrat-ExtraLight.ttf")
}
@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url("../Fonts/Montserrat-ExtraLightItalic.ttf")
}
@font-face {
    font-family: "Montserrat-Italic";
    src: url("../Fonts/Montserrat-Italic.ttf")
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../Fonts/Montserrat-Light.ttf")
}
@font-face {
    font-family: "Montserrat-LightItalic";
    src: url("../Fonts/Montserrat-LightItalic.ttf")
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("../Fonts/Montserrat-Medium.ttf")
}
@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("../Fonts/Montserrat-MediumItalic.ttf")
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../Fonts/Montserrat-Regular.ttf")
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../Fonts/Montserrat-SemiBold.ttf")
}
@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url("../Fonts/Montserrat-SemiBoldItalic.ttf")
}
@font-face {
    font-family: "Montserrat-Thin";
    src: url("../Fonts/Montserrat-Thin.ttf")
}
@font-face {
    font-family: "Montserrat-ThinItalic";
    src: url("../Fonts/Montserrat-ThinItalic.ttf")
}