@import url("../polices.css");

header {
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    width: 200px;
    color: #ff6060;
    font-size: 19px;
    font-family: Montserrat-Medium;
}

.lienNav {
    text-decoration: none;
    color: #ff6060;
    align-self: center;
}

.active {
    text-decoration: underline;
}
@media all and (max-width: 1080px) {
    header .Logo {
        width: 180px;
    }
}
@media all and (max-width: 800px) {
    header {
        padding: 30px 50px;
    }
}

@media all and (max-width: 710px) {
    header {
        padding: 25px 45px;
    }
    header nav {
        font-size: 18px;
        width: 190px;
    }
    header .Logo {
        width: 30%;
    }
}

@media all and (max-width: 600px) {
    header nav {
        font-size: 16px;
        width: 175px;
    }
    header {
        padding: 25px 30px;
    }
}

@media all and (max-width: 500px) {
    header nav {
        font-size: 15px;
        width: 170px;
        padding: 0px;
    }
    header {
        padding: 20px 30px;
    }
}

@media all and (max-width: 375px) {
    header nav {
        font-size: 14px;
        width: 140px;
    }
}

@media all and (max-width: 350px) {
    header nav {
        font-size: 13px;
        width: 126px;
    }
}